.billing-info-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .billing-form-item {
    margin-right: 20px;
    margin-bottom: 10px;
    &::nth-last-child() {
      display: block;
    }
  }
}
div#demo-simple-select {
  // height: 40px;
}

span.MuiTypography-root.error-message.MuiTypography-colorTextSecondary {
  color: red;
  font-family: "Poppins";
  font-style: italic;
}

// span.MuiTypography-root.error-message.MuiTypography-colorTextSecondary {
//   display: none;
// }

.order {
  width: 207px;
  height: 56px;
  background: #3c7798;
  border-radius: 100px;
  padding: 12px 48px;
  border: 0;
  p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;

    /* C1/J */

    color: #ffffff;
  }
}
