.billing-info-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .billing-form-item {
    margin-right: 20px;
  }
}
div#demo-simple-select {
  height: 40px;
}
.error-message {
  color: red;
}
