.cart__item-wrap {
  .title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 52px;
    margin-top: 30px;
    color: #151515;
    text-align: center;
  }
}
.cart-box-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
  h4 {
    text-align: center;
    font-family: "Poppins" !important;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    color: #151515;
  }
}
.cart-box-bottom {
  margin-top: 20px;
}
.cart__item-bottom {
  display: flex;
  img {
    width: 100px;
  }
  .cart-info {
    margin-left: 15px;
    h5 {
      font-family: "Poppins" !important;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 30px;
      color: #151515;
    }
    .desc {
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
