.icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentcolor;
}

.drop {
  position: relative;

  &-trigger {
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 12px 16px;
    background-color: #eee;
    border-radius: 8px;
    color: #000;

    .icon {
      font-size: 18px;
    }
  }

  &-down {
    display: none;
    padding: 16px;
    box-shadow: 0 0 20px 0px rgba(#000, 0.09);
    border-radius: 8px;
    position: absolute;
    background-color: #fff;
    top: 110%;
    transition: 0.4s;
    width: 100%;
    right: 0;
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;

    &:before {
      content: "";
      width: 10px;
      height: 10px;
      background-color: inherit;
      display: block;
      transform: rotate(45deg);
      position: absolute;
      top: -0.4em;
      right: 16%;
    }

    ul {
      display: flex;
      flex-direction: column;
      row-gap: 12px;

      li {
        a {
          color: #000;

          &:hover {
            color: red;
          }
        }
      }
    }

    &.active {
      display: block;
    }
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
