.method-payment {
  width: 600px;
  height: 48px;
  border-radius: 12px;
  background-color: #f9f9f9;
  border: 1px solid #d1d1d1;
  margin-bottom: 16px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  .additional-price {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    p {
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;

      /* C2/A */

      color: #3c7798;
      margin-right: 12px;
    }
    a {
      width: 114px;
      height: 18px;
      background: #f5f5f5;
      border-radius: 12px;
      p {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;

        /* C1/A */

        color: #151515;
      }
    }
  }
  .shipping-name {
    width: 93px;
  }
}
