.search__item {
  &-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  &-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;

    /* C1/A */

    color: #151515;
  }
}
