h4.MuiTypography-root.MuiTypography-h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;

  /* C1/A */

  color: #151515;
}

p.MuiTypography-root.MuiTypography-body1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  /* C1/A */

  color: #151515;
}

h4.MuiTypography-root.cook.MuiTypography-h4 {
  margin-top: 32px;
}

span.MuiTab-wrapper {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;

  /* C1/A */

  color: #151515;
  text-transform: unset;
}
