.loading-page {
  max-height: 100%;
  height: 100vh;
}
h2:before {
  content: attr(data-text);
  border-bottom: 5px solid #03a9f4;
  -webkit-animation: loading 10s linear infinite;
  animation: loading 10s linear infinite;
}
@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
