.range-slider {
  .MuiFormControl-root {
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: row;
    vertical-align: top;
  }
  .MuiFormControl-root.MuiTextField-root {
    width: 300px;
  }
  input[type="number"] {
    width: 50px;
    border-color: transparent;
    background-color: transparent;
  }
  .MuiBox-root.css-9s5z1t {
    @media (min-width: 1280px) {
      width: 160px !important;
    }
  }
}
.MuiBox-root.css-9s5z1t {
  width: 160px;
}
