.form-login-wrap {
  h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 52px;
    margin-top: 50px;
    text-align: center;
    /* C1/A */

    color: #151515;
  }
  .login-form {
    //   max-width: 400px;
    //   margin: 0 auto;
    max-width: 586.5px;
    margin: 0 auto;

    label {
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      display: block;

      /* C1/A */

      color: #151515;
    }
    .error-message {
      color: red;
    }
    input[type="email"] {
      border: 1px solid #d1d1d1;
      box-sizing: border-box;
      border-radius: 12px;
      width: 320px;
      height: 42px;
      padding: 11px 16px 12px 21px;
      display: block;
      margin: 0 auto;
    }
    input[type="password"] {
      border: 1px solid #d1d1d1;
      box-sizing: border-box;
      border-radius: 12px;
      width: 320px;
      height: 42px;
      padding: 11px 16px 12px 21px;
      display: block;
      margin: 0 auto;
    }
    .submit {
      width: 120px;
      height: 32px;
      background: #3c7798;
      border-radius: 100px;
      color: white;
      border: 0;
      cursor: pointer;
    }
    button {
      display: block;
      margin: 0 auto;
    }
  }
}
