.addition-textarea {
  width: 635px;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 12px;
  background: #f9f9f9;
  padding: 11px 16px 20px 21px;
  height: 112px;
  /* C1/D */
}
.additional-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;

  /* C1/A */

  color: #151515;
  display: block;
  margin-top: 32px;
}
.textarea.addition-textarea {
}
