.addition-textarea {
  width: 635px;
}
.additional-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;

  /* C1/A */

  color: #151515;
  display: block;
  margin-top: 32px;
}
