.footer {
  position: relative;
  .cart {
    position: fixed;
    right: 20px;
    bottom: 200px;
    z-index: 999;

    .quality {
      color: #ffffff;
    }
    &::before {
      content: "";
      color: #ffffff;
      position: absolute;
      height: 16px;
      width: 16px;
     right: 25px;
    top: 31px;
      background-color: #e5704b;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      border-radius: 12px;
      z-index: -10;
    }
  }
}
