.MuiInputBase-root.MuiInput-root.MuiInput-underline {
  width: 100%;
}
.checkout__item {
  display: flex;
}
.checkout-forms {
  width: 50%;
}

button.order {
  margin-top: 32px;
  cursor: pointer;
}
