.header__item {
  display: flex;
  align-items: center;
  &.--left {
    margin-left: -35px;
    .text {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #151515;
      margin-left: 35px;

      &.--green-cl {
        color: #6a983c;
        font-weight: 400;
        font-size: 12px;
        line-height: 16.34px;
      }
    }
  }
  &.--right {
    margin-left: -40px;
    a {
      display: block;
      margin-left: 40px;
      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 16.34px;
      }
    }
  }

  &-wrap {
    display: flex;

    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #15151523;
  }
}
